h1{
	text-shadow: 2px 5px 1px #72d4f4; 
}

body{
	background-color: #d1f7ed;
	background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}
div.donnee{
	display: flex;
	padding: 1%;
}

form.inscription{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	box-shadow: 3px 3px 3px black;
	align-items: center;
	border: 4px double #72d4f4;
	border-radius: 1.5vw;
	width: 35%;
	height: 13vw;
	padding: 1%;
}
.connexion{
	border: 4px double #72d4f4;
	box-shadow: 3px 3px 3px black;
	border-radius: 1.5vw;
	width: 30%;
	padding: 1%;
}
input, button{
	height: 2vw;
	border: 0.5px solid;
	border-radius: 5px;
	box-shadow: 3px 2px 2px black;
}
