header{
	background: #1c1c1c;
	border: 4px solid ;
	border-radius: 8px;
}
ul{
	list-style: none;
	display: flex;
	font-size: 1.5em;
	justify-content: space-around;
}
.nave{
	color: #d8d8d8;
}
h1{
	color: #d8d8d8;
	text-align: center;
	font-size: 3em;
}
section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}
article{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	width: 15%;
	margin-left: 5%;
	margin-top: 2%;
	padding: .7%; 
	border: 3px double #72d4f4;
	border-radius: 3%;
}
img{
	width: 15%;
	margin-left: 0%;
}
p{
	text-align: justify;
}
.lien{
	width: 30%;
	height: 4vw;
	margin-left: 35%;
	margin-bottom: 2%;
	margin-top: 3%;
	background: #72d4f4;
	box-shadow: 1px 3px 5px 3px #1c1c1c;
	border-radius: 8px;
}




















@media screen and (max-width: 768px) {
	header{
	background: #1c1c1c;
	border: 1px solid #4093A4;
	border-radius: 8px;
	margin-top: -3%;
	margin-left: -3%;
	margin-right: -3%;
	height: 25vw;
}
h1{
	font-size: 2em;
	margin-top: 6%;
	text-align: center;
	color: #d8d8d8;
	
}
.lien{
	margin-bottom: 3%;
	width: 50%;
	height: 12vw;
	margin-top: 3%;
	background: #72d4f4;
	box-shadow: 1px 3px 5px 3px #1c1c1c;
	border-radius: 8px;
}
h2{
	margin-top: -1%;
	font-size: 1.1em;
}
img{
	width: 13%;
	margin-left: 0%;
}
article{
	margin-left: 0%;
	height: 90vw;
	width: 72%;
	padding: 1%; 
	border: 3px double #72d4f4;
	border-radius: 3%;
}
p{
	width: 90%;
	margin-top: -1%;
}
h3{
	margin-top: -1%;
}
}
























































































































































































/* {
	animation: 5s infinite alternate tourne;
}

@keyframes tourne {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
    transform: rotate(360deg);
  }
}*/


























