h1{
	text-shadow: 2px 5px 1px #72d4f4; 
}
.inscription{
	display: flex;
	flex-direction: column;
	border: 4px double #72d4f4;
	border-radius: 1.5vw;
	width: 30%;
	height: 35vw;
	padding: 1%;
}
.connexion{
	display: flex;
	flex-direction: column;
	border: 4px double #72d4f4;
	border-radius: 1.5vw;
	width: 30%;
	height: 12vw;
	padding: 1%;
}
input, button{
	height: 2vw;
	border: 0.5px solid;
	border-radius: 5px;
	margin-top: 2%;
}
